doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
    main
      block content
